/* styles.css */
body {
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif; /* Применение пиксельного шрифта */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fcfbbf; /* Голубой фон */
  }


  

#score, .button-text, .end-score-text {
  font-family: 'Pixelify Sans', sans-serif; /* Применяем пиксельный шрифт к надписям */
  font-size: 20px;
}

#start-screen, #game-screen, #end-screen {
  text-align: center;
}

button {
  font-family: 'Pixelify Sans', sans-serif; /* Применение пиксельного шрифта к кнопкам */
  font-size: 20px;
}

  
  .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .hidden {
    display: none;
  }
  
  .icon {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #FFA500;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #FF4500;
  }
  
  canvas {
    display: block;
    background-color: #fcfbbf; /* Цвет фона для игры */
    width: 100%;
    height: 100%;
  }
  